* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    background: #f3f3f3;
}

/* SIDEBAR */
.sidebar {
    width: 260px;
    background: #1e1e2e;
    color: white;
    height: 100vh;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}

.sidebar h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

.sidebar button,
.sidebar select {
    width: 100%;
    padding: 12px;
    margin: 6px 0;
    background: #2f2f44;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.sidebar button:hover {
    background: #4a4a6a;
}

/* CONTENIDO */
main {
    margin-left: 260px;
    padding: 25px;
    width: calc(100% - 260px);
}

h1 {
    margin-bottom: 20px;
}

.tarjetas {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    flex: 1;
    min-width: 300px;
}

.numeroGrande {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

canvas {
    width: 100% !important;
    height: 250px !important;
}
